body{
    background-color: rgb(255, 212, 219);
    text-align: center;
}
.info > .title{
    font-size: 20px;
    border: 3px solid white;
    border-radius: 50px;
    width: 300px;
    padding: 10px;
    margin: 0 auto;
}
.info > div > .profile{
    width: 200px;
    height: 200px;
    border-radius: 100px;
    margin: 20px 0px;
}
.info>.content{
    margin: 15px 0px;
}
.info>.linkbox>div{
    background-color: skyblue;
    margin: 20px auto; /*위아래 20 왼쪽오른쪽 자동*/
    padding: 20px;
    border-radius: 10px;
    width: 300px;
}
a{ /*일반적으로 a태그는 링크 기능 목적으로 css 기본값 제거*/
    text-decoration: none;
    font-weight: bold;
    color: white;
}