
.product{
    border: 1px solid #eeeeee;
    width: 300px;
}
.product-img{
    width: 300px;
}
.product-info{
    border-top: 1px solid #eeeeee;
    padding: 10px;
    font-size: 12px;
}
.product-img > .title{ /*title이라는 클래스명이 중복될 수 있기 때문에 중복 방지*/
    font-weight: bold;
    font-size: 15px;
    margin-bottom: 10px;
}
.product-info > .price{
    font-weight: bold;
    font-size: 12px;
    margin-bottom: 10px;
}
.product-info > .contene{
    font-size: 12px;
    line-height: 100%;
}
.product-info > .orange{
    font-weight: bold;
    color: orange;
}