#popup{
    background-color: beige;
    width: 200px;
    height: 200px;
    position: fixed;
    bottom: 50px;
    right: 10px;
    /*position 사용할 경우 다른 요소 겹치는 경우 : z-index*/
    /*z-index : z-index의 값이 높을수록 위에 표시된다.*/
    z-index: 2;
}

/*2.헤더메뉴 css*/
#header{
    display: flex;
    justify-content: space-between;
    background-color: yellow;
    position: sticky;
    /*sticky : 지정한 요소의 구역이 스크롤 밖으로 나갔을 때부터 고정*/
    top: 0px;
    z-index: 3;
}
#header > ul{
    display: flex;
}