/*경계선 css*/
.divider{
    display: flex;
    align-items: center;
    width: 400px;
}
.divider::before,.divider::after{ /*선택자A,선택자B*/
    content: "";/*가상요소에는 빈 문자열*/
    width: 100px;
    height: 1px;/*선 굵기*/
    background-color: brown;
    margin: 0 10px;
}
li{
    list-style-type: none;
}
#header{
    background-color: beige;
}
#header > ul{
    display: flex;
    justify-content: center;
}
#header > ul > li{
    list-style-type: none;
    padding: 20px;
    position: relative;
}
#header .subMenu{
    position: absolute;
    top: 50px;
    left: 0px;
    background-color: red;
    padding: 10px;
    display: none; /*화면에 표시하지 않는다*/
}
/*해당 메뉴를 호버했을 때 서브메뉴 열기
    ->menu를 hover했을 때 .subMenu에 CSS 적용 */
#header > ul > .menu:hover .subMenu{
    display: block;
}

/*드랍다운 메뉴2*/
*{
    margin: 0;
    padding: 0;
}
#header2{
    background-color: skyblue;
}
#header2 > ul{
    display: flex;
    justify-content: center;
}
#header > ul > li{
    padding: 10px;
}
#header2{
    position: relative;
}
#header2 .subMenu2{
    position: absolute; /*가장 가까운 상위 요소의 relative가 기준점*/
    top: 40px;
    width: 100%;
    background-color: skyblue;
    display: none;
}
#header2 > ul:hover .subMenu2{
    display: block;
}