*{
    margin: 0px; padding: 0px;
    box-sizing: border-box;
}
li{
    list-style-type: none;
}
a{
    text-decoration: none;
    color: black;
}#header{
    width: 1280px;
    margin: 10px auto;
}
.top_menu{
    display: flex;
    justify-content: flex-end;
    font-size: 15px;
}
.top_menu > li{
    margin-left: 8px;
}
.bottom_menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 30px;
}
.logo_image{
    width: 180px;
}
.sub_menu{
    display: flex;
    font-size: 15px;
    margin-right: 150px;
}
.underline{
    text-decoration: underline;
}
.search_icon{
    width: 20px;
}
.sub_menu > li{
    margin-left: 25px;
}
.red{
    color: red;
}
.main_image{
    text-align: center;
}
.main_image > img{
    width: 1280px;
}
#content{
    width: 1280px;
    margin: 0 auto;
    margin-bottom: 150px;
}
.content_message{
    text-align: center;
    padding: 50px;
}
.content_message_2{
    color: gray;
    font-size: 17px;
}
.content_message_hg{
    font-size: 20px;
    color: black;
    font-weight: bold;
    margin-bottom: 20px;
}
.main_content{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.main_content > li > img{
    width: 300px;
}
.black{
    background-color: black;
    border-radius: 1px solid black;
    width: 10px;
    height: 10px;
    padding: 2px;
    margin-right: 5px;
}
.white{
    background-color: white;
    border: 1px solid black;
    width: 10px;
    height: 10px;
    padding: 2px;
}
.blackandwhite{
    display: flex;
}
.content_title{
    font-size: 15px;
    font-weight: bold;
}
.size{
    color: gray;
    font-size: 13px;
}
.price01{
    color: gray;
    text-decoration: line-through;
    font-size: 13px;
}
.price02{
    font-size: 15px;
    font-weight: bold;
}
.content_all{
    display: flex;
    justify-content: space-between;
}
.review{
    font-size: 13px;
    color: gray;
}
.content02{
    text-align: end;
}
.percent{
    color: red;
    font-size: 15px;
    font-weight: bold;
    padding: 50px 0px;
}
#footer{
    background-color: #eeeeee;
}
.footer_inner{
    width: 1280px;
    margin: 0 auto;
    padding: 30px 0px;
}.footer_inner > ul{
    display: flex;
    justify-content: space-around;
}
.footer_title{
    font-weight: bold;
    font-size: 17px;
    margin: 10px 0px;
}
.footer_inner h3{
    margin: 10px 0px;
}
.footer_inner p{
    font-size: 17px;
}

.sub_menu{
    position: relative;
}
.hover1{
    background-color: white;
    position: absolute;
    top: 40px;
    left: 145px;
    width: 100px;
    text-align: center;
    display: none;
    
}
.hover1 > li{
    padding: 5px;
}
.hover1_top:hover .hover1{
    display: block;
}
.fixe{
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 200px;
    right: 41px;
}
.fixe li{
    background-color: #eeeeee;
    border-bottom: 1px solid rgb(175, 175, 175);
    padding: 15px 0px 6px 14px;
    width: 50px;
    height: 50px;
}
.fixe img{
    width: 20px;
    height: 20px;
}