/*
[CSS 선택자]

*/
*{color: red;} /*전체선택자*/
h4{color: blue;} /*마크업선택자*/
.구역1{color: yellow;}/*클래스선택자*/
.구역3{color: beige;}

#구역2{color: palevioletred;}/*아이디선택자*/

h5,h6{color: aqua;} /*다중선택자*/
div>h3{color: green;}/*자식선택자*/
div h3{color: blueviolet;} /*자손선택자*/
/*div>h3:div 직계 h3
div h3:div 자손 h3 전체*/

/*자식 선택자*/
/*클래스와 아이디 차이
  -클래스는 다중으로 쓸 때 많이 사용되고 아이디는 단일로 쓸 때 사용된다
    만일 속성이 중복일 때 우선순위:id>class>마크업명>전체선택자
    그 외 중복일때는 코드 작성 순으로 마지막 코드의 속성이 적용
    
    관례적으로는 최대한 클래스 선택자를 활용하고 특정한 부분 ID선택자 적용한다.
    
    여러 개 선택자를 한 번에 적용:쉼표 이용한 다중 선택자
    선택자A,선택자B{속성명:값;}
    
    자식선택자 vs 자손선택자
    -자식선택자는 바로 밑 직계만
    -자손선택자는 자신 밑 모든 선택자*/
