*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-size: 12px;
}
li{
    list-style: none;
}
a{
    color: black;
    text-decoration: none;
}
#wrap{}
#header{
    width: 100%;
    display: contents;
}
#content{
    width: 1600px;
    margin: 0 auto;
}
#footer{
    width: 100%;
}
#topMenu{
    display: flex;
    justify-content: flex-end;
    border-bottom: 1px solid #dbdbdb;
    padding: 10px;
}
#topMenu > li > span{
    padding: 0px 15px;
}
#topMenu > li img{
    width: 20px;
    margin: 2px 20px 0px 0px;
}
#mainMenu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 40px;
}
#mainMenu > ul{
    display: flex;
    width: 80%;
}
#mainMenu > ul > li{
    height: 80px;
    width: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#searchBox{
    border-bottom: 1px solid black;
}
#searchBox > input{
    border: none;
    padding: 5px;
    width: 130px;
    background-color: rgba(255,255,255,0);
}
#searchBox img{
    width: 15px;
}
*:focus{
    outline: none;
}
#mainMenu .new{
    color: red;
}
#mainMenu .logo{
    width: 155px;
}
#mainMenu > ul > li{
    position: relative;
}
#mainMenu .subMenu{
    position: absolute;
    top: 80px;
    background-color: white;
    width: 130%;
    text-align: center;
    display: none;
}
#mainMenu .subMenu > li{
    margin: 10px;
}
#mainMenu > ul > li:hover .subMenu{
    display: block;
}
#mainMenu{
    position: sticky;
    top: 0px;
    background-color: rgba(255, 255, 255, 0.8);
}
#mainImg{
    width: 100%;
}
#content > .title{
    margin-top: 50px;
    font-size: 17px;
    text-align: center;
    font-weight: bold;
}
#content > .comment{
    font-size: 10px;
    text-align: center;
    color: #999999;
    margin: 20px 0px;
}
#items > .item{
    width: 380px;
    margin: 30px 0px;
}
#items > .item > .itemImg{
    width: 100%;
}
#items .color > span{
    width: 10px;
    height: 10px;
    display: inline-block;
    border: 1px solid #DBDBDB;
}
#items .colorReview{
    display: flex;
    justify-content: space-between;
    margin: 5px 0px;
}
#items .review{
    color: #999999;
}
#items .itemName{
    margin: 5px 0px;
}
#items .itemName > size{
    font-size: 10px;
    color: #999999;
    margin: 1px 0px;
}
#items .itemPrice{
    position: relative;
    margin: 5px 0px;
}
#items .disc{
    position: absolute;
    right: 0px;
    top: 0px;
    font-size: 15px;
    color: red;
    font-weight: bold;
}
#iems .price{
    text-decoration: line-through;
    color: #999999;
}
#items{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
#footer{
    margin-top: 100px;
}
#footerBottom{
    text-align: center;
    font-size: 10px;
    color: #999999;
    margin: 30px 0px;
    line-height: 160%;
}
#footerTop{
    background-color: #f7f7f7;
}
#footerContent{
    width: 1400px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 50px 100px;
}
#footerContent h3{
    margin: 10px 0px;
    font-size: 16px;
    font-weight: bold;
}
#footerContent h4{
    margin: 10px 0px;
    font-size: 18px;
    font-weight: bold;
}
#footerContent ul > li{
    margin-bottom: 10px;
}
#popup{
    position: fixed;
    right: 0px;
    top: 30%;
}
#popup img{
    width: 20px;
}
#popup > ul > li{
    padding: 14px;
    border: 1px solid #dbdbdb;
    background-color: #f7f7f7;
    position: relative;
}
#popup > ul > li > span{
    position: absolute;
    top: 10px;
    right: 40px;
    display: none;
    width: 80px;
    height: 20px;
    background-color: black;
    color: white;
    border-radius: 5px;
    text-align: center;
}
#popup > ul > li:hover .popupSub{
    display: inline;
}