*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    border: 1px solid red;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: black;
}
#header{
    width: 1280px;
    margin: 40px auto;
    display: flex;
    justify-content: space-between;
}
.logo{
    font-size: 20px;
    display: flex;
    align-items: center;
}
.blue_logo{
    color: blue;
}
.menu{
    display: flex;
    justify-content: flex-end;
    font-size: 15px;
}
.menu > li{
    margin-left: 30px;
}
.image{
    width: 100%;
}
.content01{
    display: flex;
}