/*누구를{무엇을:어떻게;}*/

/*웹폰트:폰트 저작권 주의*/
@font-face {
    font-family: 'Ownglyph_corncorn-Rg';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2412-1@1.0/Ownglyph_corncorn-Rg.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
.title{
    font-family: "궁서";/*글꼴,현재 pc에 설치된 글꼴 가능*/
    font-size: 40px; /*글자크기*/
    font-style: italic; /*글자 기울기*/
    font-weight: bold; /*글꼴 진하게, h에 기본값으로 들어감*/

}
.content{
    font-family: 'Ownglyph_corncorn-Rg';
    color: purple; /*글꼴 색상*/
    word-spacing: 10px; /*단어 간격(=어간)*/
    letter-spacing: 10px;/*글자 간격(=자간)*/
    line-height: 200%;/*줄 간격, %단위로 씀*/
}
.writer{
    text-align: center; /*텍스트 정렬 주로 left,right,center 사용*/
    text-decoration: underline overline line-through; /*밑줄 윗줄 취소선*/
    text-shadow: 5px 5px 5px red ; /*텍스트 그림자 x축,y축 흐림정도 색상*/
    /*색상:3가지(1.색상명 2.RGB 3.헥스코드(16진수)*/
    color: green; /*색상명*/
    color: rgb(0, 0, 0); /*RGB*/
    color: #f10fff; /*헥스코드*/
}