.container1,.container2{
    border: solid 1px rgb(231, 231, 231);
    background-color: white;
    width: 400px;
}
.image{
    width: 300px;
    height: 300px;
    margin: 0 auto;
}
.title{
    font-size: 20px;
    padding: 0px 13px;
}
.price{
    padding: 0px 13px;
    font-size: 20px;
}
.text{
    font-size: 19px;
    padding: 13px;
    margin-bottom: 20px;
}
.review{
    font-size: 20px;
    padding: 20px 13px;
}
.number{
    color: orange;
}