/* =============== 공통 =============== */
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    /*border: 1px solid red;*/
    font-size: 12px;
}

a {
    text-decoration: none;
    color: black;
    align-items: center;
    justify-content: center
}

li {
    list-style: none;
}

/*=======================헤더========================*/
#header_area {
    border-bottom: 1px solid #eeeeee;
}

#header {
    width: 1280px;
    margin: 0 auto;
    padding: 0px 20px;
}

/* ==== 1-1. top_header ====*/
#top_header {
    display: flex;
    align-items: center;
}

.header_logo {
    /* 1-1-1. 로고 */
    width: 144px;
    height: 25px;
    background-image: url("01_img/헤더/nol-interpark-logo.svg");
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 12px;
}

/* 1-1-2. 검색창 */
#top_header>.header_search {
    width: 354px;
    height: 44px;
    border: 1px solid #dfdfe0;
    border-radius: 25px;
    margin: 13px 0px;
    margin-right: 5px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_search>input {
    font-size: 16px;
    margin-left: 25px;
    color: rgba(41, 41, 45, 0.5);
    border: none;
}

.header_search>a {
    background-image: url("01_img/헤더/icon_search.png");
    width: 24px;
    height: 24px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    margin-right: 20px;
}

/* 1-1-3. 검색창 옆 광고 */
.header_ad {
    width: 180px;
    height: 50px;
    background-image: url("01_img/헤더/header_AD.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    margin: 0px 8px;
}

/* 1-1-4. 페밀리 사이트 */
#top_header>div {
    display: flex;
    align-items: center;
    margin-left: 295px;
}

#top_header>div a {
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

#top_header>div>a:nth-child(1) {
    width: 30px;
    height: 12px;
    background-image: url("01_img/헤더/partner-nol.svg");
}

#top_header>div>a:nth-child(3) {
    width: 53px;
    height: 12px;
    background-image: url("01_img/헤더/partner-triple.svg");
}

#top_header>div>a:nth-child(5) {
    width: 115px;
    height: 15px;
    background-image: url("01_img/헤더/partner-interpark-global-small.svg");
}

#top_header span {
    padding: 0px 8px;
    color: #c4c4c4;
    font-size: 10px;
}

/* ==== bottom_header ====*/
#bottom_menu {
    display: flex;
    justify-content: space-between;
    width: 1240px;
    margin: 0 auto;
}

/*1-2-1. 홈, 투어, 티켓*/
#bottom_menu>.main_menu {
    display: flex;
    justify-content: space-between;
}

#bottom_menu>.main_menu li {
    width: 48px;
    height: 54px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#bottom_menu>.main_menu a {
    display: inline-block;

    color: black;
    font-size: 22px;
}

#bottom_menu>.main_menu>li:nth-child(2),
#bottom_menu>.main_menu>li:nth-child(3) {
    margin: 0px 10px;
}

#bottom_menu>.main_menu>li:nth-child(2)>a {
    /*홈,투어,티켓 페이지 별로 강조 영역, nth-child의 숫자 변경*/
    font-weight: bold;
}

#bottom_menu>.main_menu>li:nth-child(2) {
    /*홈,투어,티켓 페이지 별로 강조 영역, nth-child의 숫자 변경*/
    border-bottom: 2px solid #29292d;
}

/* 1-2-2. 로그인, 내예약 */

.my_menu {
    display: flex;
}

.my_menu>a {
    display: flex;
}

.my_menu>a>div {
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.my_menu>a>span {
    font-weight: bold;
    display: inline-block;
    margin-left: 9px;
}

.my_menu>a:nth-child(1)>div {
    background-image: url("01_img/헤더/login.jpg");
}

.my_menu>a:nth-child(3)>div {
    background-image: url("01_img/헤더/ticket.jpg");
}

.my_menu>div {
    width: 18px;
}

/* 1-2-3. 메뉴 창 sticky*/
#header_area {
    position: sticky;
    top: 0px;
    background-color: white;
    z-index: 1000; 
}


/*================본문 시작=======================*/
#tr_wrap{
    width: 1240px;
    height: 176px;
    margin : 10px auto;
    border : 1px solid rgba(119, 117, 117,0.2);
    border-radius: 20px;
    padding: 20px 10px 0px ;
    box-shadow: 5px 5px rgba(0, 0, 0, 0.06);
    
}

#tr_air_content{
    width:1280px;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    

}
/* 항공 예약*/

.tr_package-btn{
    display: flex;
}
.tr_package-btn button[type=button]{
    width: 100px;
    height: 40px;
    background-color: white;
    border: 0;
    outline: 0;
}
.tr_package-btn a{
    color: gray;
    font-size: 14px;
    font-weight: bold;
    width: 100px;
    height: 40px;
    display:block;
    padding: 10px 10px;
    border-radius: 20px;
    
}


.tr_package-btn a:hover{
    color: rgb(65, 84, 255);
     background-color: rgba(119, 117, 117,0.2);
}


/*예약*/
#tr_cnontent{
    width:1280px;
    border: 1px solid gray;
    
}
.tr_reservations{
    width: 1280px;
    margin: 0 auto;
    display: flex;
    justify-content: flex-start;
}
/* 간격 사이 패딩*/
.tr_start, .tr_stop, .tr_schedule, .tr_people{padding-right: 10px;}

/* ====================출발지/도착지  CSS====================== */
.tr_reservations-btn [type=button]{
    width: 230px;
    height: 30px;
    background-color: #f7f7f7;
    border: 0;
    outline: 0;
    border-radius: 10px;
    margin-right: 5px;
}


.tr_reservations-text1{
    color:gray;
    font-size :12px;
    font-weight:bold;
    padding-right: 130px;
}
.tr_reservations-text2{
    color:black;
    font-size :15px;
    font-weight:bold;
    padding-right: 130px;
}

.tr_reservations-text3{
    color: gray;
    font-size :15px;
    font-weight:bold;
    padding-right: 130px;
}

.tr_search-btn-bg{
    width: 180px;
    height: 65px;
    border-radius: 10px;
    background-color: #4154ff;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.tr_search-img{
    width:25px;
}

.tr_search-btn p{
    padding-right:20px;
    font-size: 16px;;
}

.tr_search-btn a{
    color: white;
    font-size: 17px;

}

/* ==========항공 해외숙소 국내숙소 투어/입장권 국내놀거리 버튼============ CSS */
#tr_icon-wrap{
    width: 1240px;
    height: 110px;
    margin : 20px auto;
    
}
.tr_icon-list{
    width: 1240px;
    height: 90px;
    display: flex;
    margin: 0 auto ;
    text-align: center;
}
/*아이콘 bg 사이즈*/
.tr_icon-btn{
    width: 80px;
    height: 64px;
    margin: 0 auto;
}


.tr_icon-name{
    text-align: center;
    font-size: 13px;
}
.tr_icon-bg{
    background: rgb(119, 117, 117,0.1);
    display: flex;
    justify-content: center;  
    align-items: center;
    width: 80px;           
    height: 80px;           
    border-radius: 80px;       
}
.tr_icon-img{
    text-align: center;
    width: 40px;
    height: 40px; 
}




/* ==========================왼쪽 본문 WRAP 시작================================ */
#tr_main-content-wrap{
    width: 1240px;
    height: 3205px;
    display: flex;
    justify-content: space-between;
    margin : 0 auto;
}

#tr_main-left-wrap{
    width: 850px; /* 왼쪽 본문 사이즈*/
} 
#tr_main-right-wrap{
    width: 360px; /* 오른쪽 본문 사이즈*/
}
/*===================마감임박 테두리 =====================*/
.tr_sale-tour{
    border : 1px solid rgba(119, 117, 117,0.2);
    border-radius: 15px;
    margin: 0px 0px 32px;
    padding: 0px 0px 32px;
}

.tr_sale-content-list{
    width: 200px;
}

.tr_sale-tour-title{
    padding: 32px 32px 0px;
    font-size: 20px;
    font-weight: bold;
    text-align: left;
}

.tr_sale-tour-btn{
    display:flex;
    justify-content: flex-start;
    padding: 0px 15px;

}

#tr_sale-content2{
    display:flex;
    justify-content: space-evenly;
}
/*==========마감임박! 버튼======================*/
.tr_sale-tour-btn button[type=button]{
    background-color: white;
    border-radius: 30px;
    width: 100px;
    height: 40px;
    border : 1px solid rgb(119, 117, 117,0.2);
    margin: 20px 5px;
    
}

.tr_sale-tour-btn a{
    display: block;
    
}
.tr_sale-tour-btn a:hover{
    color: white;
    background-color: #2d2d2d;
    height: 40px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    font-weight: bold;
}

.tr_sale-tour a{
    background-color: white;
    color: black;
    font-size: 14px;
}
.tr_sale-tour-title p {
    font-size : 20px;
}

/* ================마감임박! 본문=================*/

.tr_sale_content-img-size{
    width: 180px;
    height: 130px;
    border-radius: 15px;
    margin : 0px 10px;
}
.tr_sale-content-text1{
    color: #4154ff;
    font-size:12px;
    font-weight: bold;
    padding-left: 10px;
}

.tr_sale-content-text2{
    font-weight: bold;
    font-size: 16px;
    margin-top: 5px;
    padding-left: 10px;
}

.tr_sale-content-text3{
    font-size:13px;
    color: gray;
    margin-top : 5px;
    padding-left: 10px;
}

.tr_sale-content-price{
    font-weight: bold;
    margin-top: 20px;
    padding-left: 10px;
    font-size: 16px;
}
/*===============광고=======================*/

#tr_advertisement {
  display: flex;
  justify-content: space-evenly;
  width: 100%; 
  padding-right: 20px;
  margin-bottom: 20px;
}

#tr_advertisement a {
  display: block;
  width: 45%; 
}

.tr_advertisement-img{
    width: 400px;
}

/*==============놀라운 가격 금액대별 항공권 비교 테두리 ============*/

#tr_air-price-sale{
    border : 1px solid rgba(119, 117, 117,0.2);
    border-radius: 15px;
    margin: 0px 0px 32px;
    padding: 0px 0px 32px;
}

.tr_air-price-sale-title p{
    padding: 32px 32px 0px;
    font-size: 20px;
    font-weight: bold;
    text-align: left;
}

.tr_air-price-sale-btn{
    display:flex;
    justify-content: flex-start;
    padding: 0px 15px;
}

.tr_sale-content-list{
    width: 200px;
}

/*==========놀라운 가격 금액대별 항공권 비교 버튼======================*/

.tr_air-price-sale-btn button[type=button]{
    background-color: white;
    border-radius: 30px;
    width: 100px;
    height: 40px;
    border : 1px solid rgb(119, 117, 117,0.2);
    margin: 20px 5px;
}


.tr_air-price-sale-btn a{
    font-size: 14px;
    background-color: white;
    color: black;
    display:block;
}

.tr_air-price-sale-btn a:hover{
    color: white;
    background-color: #2d2d2d;
    height: 40px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    font-weight: bold;
}


/*=================놀라운 가격 금액대별 항공권 비교 본문 ==================*/
.tr_air-price-sale-select-wrap{
    display: flex;
    height: 192px;
}

.tr_air-price-sale-select{
    width : 180px;
    border : 1px solid rgba(119, 117, 117,0.2);
    border-radius: 15px;
    margin-left: 20px;
    padding-top: 15px;
    padding-left: 20px;
}

.tr_air-price-sale-text1 a{
    font-size:15px;
    font-weight: bold;
    padding-left: 10px;
}

.tr_air-price-sale-text2 a{
    font-size:14px;
    margin-top: 5px;
    padding-left: 10px;
}

.tr_air-price-sale-text3 a{ 
    font-size:14px;
    margin-top : 5px;
    padding-left: 10px;
}

.tr_air-price-sale-price a{
    font-weight: bold;
    margin-top: 20px;
    padding-left: 10px;
    font-size: 15px;
}

.tr_air-price-sale-text5{
    font-weight: bold;
    margin-top: 20px;
    padding-left: 10px;
    font-size:12px;
    
}

.tr_air-price-sale-text2-3{
    color: gray;
}

.tr_air-price-sale-coupon{
    color:red;
    background-color: rgba(255, 50, 46, 0.1);
    font-size: 12px;
}
/*=============요즘 가기 좋은 국내 추천==================*/
.tr_internal-tour{
    border : 1px solid rgba(119, 117, 117,0.2);
    border-radius: 15px;
    margin: 0px 0px 32px;
    padding: 0px 0px 32px;
}

.tr_internal-tour-title p{
    padding: 32px 32px 0px;
    font-size: 20px;
    font-weight: bold;
    text-align: left;
}

.tr_internal-content-list{
    width: 200px;
}
.tr_internal-tour-btn a{
    font-size: 14px;
    display: block;
}
.tr_internal-tour-btn a:hover{
    color: white;
    background-color: #2d2d2d;
    height: 40px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    font-weight: bold;
}

.tr_internal-tour-btn{
    display:flex;
    justify-content: flex-start;
    padding: 0px 15px;

}

#tr_internal-content2{
    display:flex;
    justify-content: space-evenly;
}
/*========== 요즘 가기 좋은 국내 여행 추천 버튼======================*/
.tr_internal-tour-btn button[type=button]{
    background-color: white;
    border-radius: 30px;
    width: 100px;
    height: 40px;
    border : 1px solid rgb(119, 117, 117,0.2);
    margin: 20px 5px;
}

/* ================요즘 가기 좋은 국내 여행 추천 본문=================*/

.tr_internal_content-img-size{
    width: 147px;
    height: 147px;
    border-radius: 15px;
    margin : 0px 10px;
}

.tr_internal-content-text2 {
    font-weight: bold;
    margin-top: 5px;
    padding-left: 5px;
    font-size: 16px;
}

.tr_internal-content-text3 {
    font-size:13px;
    color: gray;
    margin-top : 5px;
    padding-left: 5px;
}

.tr_internal-content-price {
    font-weight: bold;
    margin-top: 20px;
    padding-left: 10px;
    font-size:16px;
}
.tr_internal-content-price span {
    color: red;
    margin-right: 5px;
}
/*요즘 가기 좋은 국내 여행 추천 본문 */
#tr_now-tour-wrap{
    border : 1px solid rgba(119, 117, 117,0.2);
    height: 274px;
    border-radius: 20px;
    margin: 0px 0px 20px;
    padding: 32px;
}

#tr_now-tour{
    display:flex;
    justify-content: space-between;
}
.tr_now-tour-title{
    display: flex;
    justify-content: space-between;
}

.tr_now-tour-title p {
    font-size: 20px;
    font-weight: bold;
    text-align: left;
}

#tr_now-tour a{
    font-size: 14px;
    font-weight: bold;
    color: #29292d80;
    display: flex;
    align-items: end
}



.tr_now-tour-content-list{
    display: flex;
    justify-content: space-between;
    margin: 20px 0px 0px;
}

.tr_now-tour-content-list p{
    font-size: 16px;
}
.tr_now-tour-img{
    width: 96px;
    height: 96px;
    border-radius: 100%;
    border:none;
}
.tr_now-tour-content a{
    width: 96px;
    height: 96px;
    border-radius: 100%;
    border:none;
    text-align: center;
}
/*=====================비교할수록 매력적인 초특가 패키지 여행=============*/
.tr_sale-package{
    
    border : 1px solid rgba(119, 117, 117,0.2);
    border-radius: 15px;
    margin: 0px 0px 32px;
    padding: 0px 0px 32px;
}

.tr_sale-package-title p{
    padding: 32px 32px 0px;
    font-size: 20px;
    font-weight: bold;
    text-align: left;
}

/*========== 요즘 가기 좋은 국내 여행 추천 버튼======================*/
.tr_sale-package-btn button[type=button]{
    background-color: white;
    border-radius: 30px;
    width: 100px;
    height: 40px;
    border : 1px solid rgb(119, 117, 117,0.2);
    margin: 20px 5px;
}

.tr_sale-package-btn{
    display:flex;
    justify-content: flex-start;
    padding: 0px 15px;

}

.tr_sale-package-btn a{
    font-size: 14px;
    display: block;
}

.tr_sale-package-btn a:hover{
    color: white;
    background-color: #2d2d2d;
    height: 40px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    font-weight: bold;
}

.tr_package-btn2{
    font-size: 14px;
    font-weight: bold;
    width: 786px;
    height: 40px;
    background-color: white;
    border: 1px solid rgb(221, 221, 221);
    border-radius: 12px;
    margin-left: 30px;
}

/*========== 요즘 가기 좋은 국내 여행 추천 본문 ======================*/
.tr_sale-package-content{
    display: grid;
    grid-template-columns:420px 420px;
}
.tr_sale-package-list{
    display: flex;
    justify-content: space-between;
    margin: 0px 32px 20px;
}

.tr_sale-package-img{
    width: 80px;
    height: 104px;
    border-radius: 20px;
    margin-right: 10px;
}

.tr_sale-package-text1 p{
    font-size: 15px;
    font-weight: bold;
}

.tr_sale-package-text2 p{
    color : rgb(65, 84, 255);
    font-size:13px;
}
.tr_sale-package-text3 p{
    font-size: 15px;
    font-weight: bold;
}
/*=================윗본문====== 땡처리 항공권이 곧 마감됩니다.=====================*/
#tr_airticket-meaning{
    width: 850px;
    height: 220px;
    border : 1px solid rgba(119, 117, 117,0.2);
    background-color: rgb(23, 105, 255);
    border-radius: 15px;
    padding: 44px 22px 0px;
    background-image: url(01_img/땡처리마감/tr_airticket-meaning_bg.png);
    background-position-x :50%;
    background-position-y :50%;
    background-repeat :repeat;
    border-image-repeat :stretch;
    background-size : auto;
    
}
#tr_airticket-meaning h2{
    padding: 0px 0px 4px;
    font-size: 14px;
    color: #FFFFFF;
    font-weight: bold;
    text-align: left;
}
#tr_airticket-meaning h3{
    padding: 0px 0px 10px;
    font-size: 20px;
    color: #FFFFFF;
    font-weight: bold;
    text-align: left;
}
#tr_airticket-meaning p{
    font-size: 14px;
    color: #FFFFFF;
    font-weight: bold;
    text-align: left;
}
/*=====================아랫본문====땡처리 항공권 곧 마감 됩니다==================*/

#tr_airticket-content-wrap{
    border : 1px solid rgba(119, 117, 117,0.2);
    width: 850px;
    height: 320px;
    border-radius: 20px;
    background-color: white;
    margin-top: -70px; /* 겹칠 높이 조절 */
    position: relative;
    z-index: 10;
}
#tr_airticket-meaning-content{
    padding : 8px 32px 28px;
    display: grid;
    grid-template-columns:370px 370px;
    grid-template-rows: 100px 100px;
    column-gap: 48px;
}
    

.tr_airticket-meaning-content-list{
    display: flex;
    justify-content: space-between;
    width: 370px;
    height: 121px;
    padding: 20px 0px;
}
.tr_airticket1{
    
    width: 370px;
    height: 47px;
}
.tr_airticket-place p{
    font-size: 16px;
    font-weight: bold;
}
.tr_airticket-date p{
    font-size: 14px;
    color:rgba(41, 41, 45, 0.5);
}
.tr_airticket-price p{
    font-size:16px;
    font-weight: bold;
}
.tr_airticket-img{
    width: 24px;
    height: 24px;
}

.tr_airticket-btn{
    font-size: 14px;
    font-weight: bold;
    width: 786px;
    height: 40px;
    background-color: white;
    border: 1px solid rgb(221, 221, 221);
    border-radius: 12px;
    margin-left: 5px;
    margin-top: 30px;
}
/* ==================== 인터파크 LIVE================================= */

/* 2-5. 인터파크 LIVE */

.tr_IPLive {
    margin: 10px 0px 60px;
    padding: 32px;
    border : 1px solid rgba(119, 117, 117,0.2);
    border-radius: 20px;
}

.tr_IPLive>div:nth-child(1) {
    width: 155px;
    height: 40px;
    background-image: url("01_img/interpark_live_logo.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    margin: 0 auto;
    margin-bottom: 30px;
}

#tr_IPLive_title {
    width: 780px;
    display: flex;
    justify-content: space-between;
}
#tr_IPLive_title p {
    font-size:20px;
    font-weight: bold;
}
#tr_IPLive_title a{
    font-size: 14px;
    font-weight: bold;
    color: gray;
    display: flex;
    align-items: center;
    
}

.tr_IPLive>ul {
    display: flex;
    justify-content: space-between;
}

.tr_IPLive>ul>li,
.tr_IPLive>ul>li>a,
.tr_IPLive>ul>li .tr_liveList_backImg {
    width: 188px;
    height: 286px;
    border-radius: 10px;
    position: relative;
}

.tr_liveList_info {
    position: absolute;
    z-index: 2;
    color: white;
}

.tr_liveList_info>div:nth-child(1) {
    margin: 20px 20px 8px 20px;
    background-color: rgba(0, 0, 0, 0.5);
    width: 81px;
    height: 20px;
    text-align: center;
    font-weight: bold;
    border-radius: 20px;
    border: 0px;
    font-size: 13px;
}

.tr_liveList_info>div:nth-child(2) {
    margin: 0px 20px 0px 20px;
    font-size: 14px;
    font-weight: 600;
}

.tr_liveList_info>div:nth-child(3) {
    margin: 20px 20px 0px 20px;
    font-size: 20px;
    font-weight: 300;
    text-align: center;
}

.tr_liveList_info>div:nth-child(4) {
    margin: -10px 20px 0px 20px;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}

.tr_liveList_backImg {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-blend-mode: color;
    background-color: rgba(0, 0, 0, 0.5);
}

.tr_liveList_backImg1 {
    background-image: url("01_img/라이브/05_01.png");
}

.tr_liveList_backImg2 {
    background-image: url("01_img/라이브/05_02.png");
}

.tr_liveList_backImg3 {
    background-image: url("01_img/라이브/05_03.png");
}

.tr_liveList_backImg4 {
    background-image: url("01_img/라이브/05-04.jpg");
}

.tr_IPLive>div:nth-child(3) {
    text-align: center;
    padding-top: 20px;
}
/*============================오른쪽 시작 본문==========================*/


/*=============오른쪽 광고===============*/

#tr_right-advertisement-wrap{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 20px;
    background-color: rgb(243, 246, 248);
    height: 84px;
    margin-bottom: 10px;
}

.tr_right-advertisement-img{
    width: 60px;
}

.tr_right-advertisement-text{
    margin-left: 10px;
}

.tr_right-advertisement-text > .tr_text1 > a {
    font-size:15px;
    font-weight: bold;
}

.tr_right-advertisement-text > .tr_text2 > a{
    font-size:13px;
    font-weight: bold;
    color: gray;
}

.tr_right-advertisement-page{
    display: flex;
    flex-direction: row-reverse;
    
}
.tr_right-advertisement-page >p{
    border-radius: 8px;
    font-size: 11px;
    color: white;
    background-color: gray;
    width: 30px;
    text-align: center;
    margin-top: 40px;
    
}
/*==========당신을 위한 여행 혜택 비교===============*/
#tr_you-benefit-wrap{
    border: 1px solid rgba(119, 117, 117,0.2);
    border-radius: 20px;
    margin: 0px 0px 12px;
    padding: 0px 0px 20px;
}
.tr_you-benefit-content{
    display:flex;
}

.tr_you-benefit-title p{
    font-size:20px;
    font-weight: bold;
    margin: 0px 0px 20px;
    padding: 28px 28px 0px;
}
.tr_you-benefit-img{
    width: 50px;
    margin-left: 30px;
}
.tr_you-benefit-text1 a{
    font-size:16px;
    font-weight: bold;
    margin-left: 5px;
}
.tr_you-benefit-text2 a{
    font-size:14px;
    color:gray;
    margin-left: 5px;
}

#tr_you-benefit-btn{
    display:flex;
    justify-content: center;
    margin-top: 16px;
    

}
#tr_you-benefit-btn button[type=button]{
    width: 15px;
    border-radius: 100%;
    background-color: white;
    border: 1px solid rgba(119, 117, 117,0.2);
    outline: 0;
    
}
#tr_you-benefit-btn img{
    width:15px;
}

#tr_you-benefit-btn p{
    font-size:13px;
    font-weight: bold;
    color:gray;
    margin: 0px 30px;
}
#tr_you-benefit-btn span{
    color: black;
}
/*==================오른쪽 스티키 WRAP==========*/
    #tr_right-stikcy-wrap{
    position: sticky;
    top: 130px;
    z-index: 10;
    }
/*================새로운 여행===================*/

#tr_new-tour-wrap{
    border: 1px solid rgba(119, 117, 117,0.2);
    border-radius: 20px;
    margin: 0px 0px 12px;
    padding: 0px 0px 20px;

}

.tr_new-tour-title p{
    font-size:20px;
    font-weight: bold;
    margin: 0px 0px 20px;
    padding: 28px 28px 0px;
}

.tr_new-tour-content > a > img{
    width: 300px;
    border-radius: 20px;
    margin-left: 20px;
}
#tr_new-tour-btn img{
    width:15px;
}
#tr_new-tour-btn button[type=button]{
    width: 15px;
    border-radius: 100%;
    background-color: white;
    border: 1px solid rgba(119, 117, 117,0.2);
    outline: 0;
    
}

#tr_new-tour-btn{
    display:flex;
    justify-content: center;
    margin-top: 16px;
}


#tr_new-tour-btn p{
    font-size:13px;
    font-weight: bold;
    color:gray;
    margin: 0px 30px;
}
#tr_new-tour-btn span{
    color: black;
}
/* =============NOL 인터파크투어 단독 혜택==================*/
#tr_nol-interpark-wrap{
    border: 1px solid rgba(119, 117, 117,0.2);
    border-radius: 20px;
    margin: 0px 0px 12px;
    padding: 0px 0px 20px;
    position: sticky;
    top: 350px;
    z-index: 9;
    
    
}
.tr_nol-interpark-content{
    display:flex;
    justify-content: flex-start;
    align-items: center;
    padding:  0px 0px 12px;
    width: 300px;
    height: 68px;
}

.tr_nol-interpark-title p{ 
    font-size:20px;
    font-weight: bold;
    margin: 0px 0px 20px;
    padding: 28px 28px 0px;
}
.tr_nol-interpark-img{
    width: 50px;
    margin-left: 30px;
}
.tr_nol-interpark-img2{
    width: 13px;
    margin-left: 18px;
}
.tr_nol-interpark-text1 a{
    font-size:16px;
    font-weight: bold;
    margin-left: 5px;
}
.tr_nol-interpark-text2 a{
    font-size:14px;
    color:gray;
    margin-left: 5px;
}
/*==========================푸터===================================*/
#footer {
    background-color: #ffffff;
}

#footer>div:nth-child(1) {
    border-top: 1px solid #eeeeee;
    border-bottom: 1px solid #eeeeee;
}

/* 3-1-1. 회사소개~Language */
#footer_menu {
    width: 1280px;
    height: 50px;
    padding: 0px 20px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

#footer_menu>li {
    padding: 10px 14px;
    align-content: center;
}

#footer_menu a {
    font-size: 13px;
    display: inline-flex;
}

#footer_menu span {
    display: inline-block;
    align-content: center;
    color: #cccccc;
    font-weight: bold;
}

#footer_menu>li:nth-child(17) > a > div,
#footer_menu>li:nth-child(19) > a > div {
    width: 10px;
    height: 10px;
    background-image: url("01_img/헤더/down_arrow.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    display: inline-block;
    margin-left: 8px;
}

/* 3-1-2. 고객센터, Language 드롭메뉴 */
#footer_menu>li:nth-child(17) > a > div,
#footer_menu>li:nth-child(19) > a > div {
    position: relative;
}

.footer_sub {
    position: absolute;
    padding: 16px;
    width: 110px;

    background-color: white;
    box-shadow: 0 0 16px rgba(0, 0, 0, .2);
    border-radius: 8px;

    display: none;
}

.footer_sub > div {
    height: 9px;
}

#footer_menu>li:nth-child(19) .footer_sub {
    width: 85px;
}

#footer_menu>li:hover .footer_sub{
    display: block;
}


/* 3-2-1. 회사정보~담당정보 */

#footer_info {
    width: 1280px;
    margin: 0 auto;
}

#footer_info>#company_info {
    padding: 30px 20px;
    display: flex;
    justify-content: space-between;
}

#footer_info h3 {
    font-size: 15px;
    margin-bottom: 3px;
}

#footer_info .info_a {
    text-decoration: underline;
    color: #4154ff;
}

#footer_info p,
#footer_info a {
    color: rgba(41, 41, 45, .8);
}

/* 3-3-1. copy right */

#footer_noti {
    width: 1280px;
    margin: 0 auto;
    padding: 0px 20px 50px 20px;
    color: rgb(136, 136, 136);
}