/*가상 클래스
    -선택자:가상클래스명{속성명:속성값}
    -가상클래스 종류
        1.hover: 해당 선택자에 마우스를 올렸을 떼 css 적용
        2.visited:해당 링크에 방문한 적이 있으면(브라우저 방문기록
        3.active:해당 선택자에 마우스를 클릭했을 때*/
a{
    text-decoration: none;
    color: black;
}
/*1.만약에 해당 선택자를 hover 했을 때*/
a:hover{
    color: red;
    text-decoration: underline;
}
/*해당 선택자 링크에 방문한 적이 있으면*/
a:visited{
    color: orange;
}
/*해당 선택자에 마우스 클릭 했을 때*/
a:active{
    color: blue;
}
/*가상요소
    -선택자::가상요소명[content:'가상요소];
    -가상요소명
        1.before:선택자의 요소 앞에 가상공간 만들기
        2.after:선택자의 요소 뒤에 가상공간 만들기
        주로 순수 장식용 이미지나 기호 등을 사용할 때 사용*/
.box1::before{
    content: "[가상요소 시작점]";
    font-weight: bold;
}
.box1::after{
    content: "[가상요소 끝점]";
}
.box2{
    list-style-type: none;
}
.box2 > li::before{
    content: "※";
    color: red;
}
.box3::before{
    content: url(../day04/짱구.jpg); /*이미지파일경로*/
}
.box3::after{
    content: "❤️";
}