*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    /* border: 1px solid red; */
}
a{
    color: black;
    text-decoration: none;
}
li{
    list-style: none;
}
#header{
    display: flex;
    justify-content: space-between;
    width: 1280px;
    margin: 10px auto;
    align-items: center;
}
.header_menu{
    display: flex;
    flex-direction: column;
}
.top_menu, .main_menu{
    display: flex;
    font-size: 15px;
    align-items: center;
}
.top_menu{
    justify-content: flex-end;
    margin-bottom: 5px;
}
.main_menu{
    font-size: 20px;
    padding: 10px 0px;
}
.main_menu > li{
    margin-left: 60px;
    font-weight: bold;
}
#main_img{
    width: 100%;
}
#main{
    display: flex;
    width: 1280px;
    margin: 0 auto;
}
.sidebar{
    width: 250px;
    margin-right: 10px;
}
.content2{
    display: flex;
}
.title{
    background-color: #0da8a1;
    padding: 20px 10px;
    color: white;
    font-weight: bold;
}
.content{
    padding: 10px 10px;
}
.searchbox{
    padding: 15px 10px;
    border-bottom: 2px solid black;

}
.search_input{
    border: 1px solid black;
    border-radius: 10px;
    width: 160px;
    height: 30px;
}
.search_btn{
    padding: 5px;
    border: 1px solid black;
}
.sidebar > h4{
    font-weight: bold;
    font-size: 20px;
    padding: 10px 10px;
    border-bottom: 1px solid #eeeeee;
}
.sidebar > ul > li{
    padding: 5px 10px;
}
.leftbox{
    width: 500px;
    margin-right: 10px;
}
.sub_title{
    font-size: 20px;
    font-weight: bold;
    border-bottom: 2px solid black;
    padding: 10px 0px;
}
.sub_menu{
    margin-bottom: 15px;
}
.board{
    margin-bottom: 30px;
}
.leftbox > ul > li{
    display: flex;
    justify-content: space-between;
    padding: 5px 0px;
}
.product_list{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}
.product{
    width: 200px;
    margin-right: 40px;
}
.rightbox{
    width: 500px;
}

/*-------------푸터--------------*/
#footer{
    background-color: #07334f;
}
.footer_inner{
    width: 1280px;
    margin: 0 auto;
    color: white;
}
.ftop_menu{
    display: flex;
    justify-content: flex-start;
    padding: 20px 10px;
}
.ftop_menu > li{
    margin-right: 20px;
}
.fbottom_menu{
    display: flex;
    justify-content: space-between;
    padding: 20px 10px;
}
