/*확인용*/
*{
    border: 1px solid red;
    box-sizing: border-box; /*border 크기까지 박스 사이즈로 측정해라*/
}
/*wrap:전체 구역*/
#wrap{
    width: 1280px; /*웹 표준 가로 사이즈*/
    margin: 0 auto;
}
/*본문 */
.main{
    display: flex;
    flex-wrap: nowrap; /*므기 자동 맞춤*/
    flex-direction: row; /*배치 방향 가로*/
    justify-content: space-between; /* 양쪽에 여백 없이 균등 정렬*/
    align-items: stretch;
}
#main > #contents{
    width: 850px;
}
#main > #contents{
    width: 400px;
}
/*확인용:추후에 내용물이 들어가게 되면 삭제하면 됨*/
*{
    border: 1px solid red;
}
#header{
    height: 150px;
}
#main{
    height: 500px;
}
#footer{
    height: 100px;
}